@tailwind base;

@tailwind components;

@tailwind utilities;


.theme-light {
    --primary-background-color: #f2f5f8 ;
    --secondary-background-color: #648ddf;
    --tertiary-background-color: rgb(255, 255, 255);
    --color1-background-color : rgb(197, 194, 194);

    --btnSubmit-background-color: rgb(37, 184, 69);
    --btnDelete-background-color: rgb(219, 53, 53);
    --btnClose-background-color: rgb(61, 89, 216);
    --text-default-color: rgb(0, 0, 0);
}

.theme-dark {
    --primary-background-color: hsl(0, 0%, 23%) ;
    --secondary-background-color: #464646;
    --tertiary-background-color: rgb(10, 10, 10);
    --color1-background-color : rgb(14, 13, 13);
    
    --btnSubmit-background-color: rgb(37, 184, 69);
    --btnDelete-background-color: rgb(219, 53, 53);
    --btnClose-background-color: rgb(61, 89, 216);

    --text-default-color: #fff;
}

.editIcon{
    -webkit-clip-path: inset(100px,50px);
    clip-path: inset(100px,50px);
}